version: '3.9'
services:
  mysql:
    image: mariadb:10.8
    ports:
      - 3308:3306
    volumes:
      - ./docker/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=12345678x@X
  # api:
  #   build:
  #     context: ../shinningserver
  #     dockerfile: Dockerfile
  #   environment:
  #     - NODE_ENV=production
  #     - DB_HOST=mysql
  #     - DB_PORT=3306
  #     - DB_USERNAME=root
  #     - DB_PASSWORD=12345678x@X
  #     - DB_COM_NAME=shinning_com
  #     - DB_SSO_NAME=shinning_sso
  #   ports:
  #     - '8800:4400'
  #   restart: always
  #   depends_on:
  #     - mysql
  #   links:
  #     - mysql
  # app:
  #   build:
  #     context: ../shinningapp
  #     dockerfile: Dockerfile
  #   volumes:
  #     - ~/docker_backup/app:/app/src/assets
  #   environment:
  #     - NODE_ENV=production
  #     - REACT_APP_API_URL=http://shinning.asia/api/
  #   ports:
  #     - '6600:3300'
  #   restart: always
  #   depends_on:
  #     - api
  #   links:
  #     - api
# netstat -tulpn | grep LISTEN
